.accountIcon {
  margin-right: 9rem;
}
@media (max-width: 1100px) {
  .accountIcon {
    margin-right: auto;
    margin-left: 0;
  }
}

.greetingContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12rem;
  margin-top: 12rem;
  margin-bottom: 5rem;
}

@media (max-width: 900px) {
  .greetingContainer {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 6rem;
    text-align: center;
  }
  .greeting {
    margin-top: -10%;
    margin-bottom: 2rem;
  }
}

.smartphonecss {
  margin-top: -5%;
  margin-left: 15%;
  max-width: 248px;
  max-height: 500px;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .smartphonecss {
    margin: 0.5rem;
    max-width: 248px;
    max-height: 500px;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1921px) {
  .smartphonecss {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 600px;
    width: 100%;
    height: auto;
  }
}

.divider {
  background: linear-gradient(to right, #644fd5, #6aabe2, #c865d4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.dividerText {
  text-align: left;
  padding: 2rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
}

@media (max-width: 1200px) {
  .dividerText {
    text-align: left;
    padding: 2rem;
    margin-left: 0;
    margin-right: 0;
    color: white;
  }
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.infoTextLeft {
  margin-top: 10%;
  padding: 2rem;
  margin-left: 12rem;
}

@media (max-width: 1380px) {
  .infoTextLeft {
    margin: 5rem 0 0 7rem;
    padding: 1rem;
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in-left.show {
  opacity: 1;
  transform: translateY(0);
}

.infoImage {
  width: 50%;
  height: auto;
  margin-top: -18.5%;
  margin-left: 40%;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 2s ease, transform 3s ease;
}

.infoImage.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 980px) {
  .infoContainer {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: -10%;
    text-align: center;
    padding: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .infoTextLeft {
    margin: 5rem 0 0 1rem;
    padding: 1rem;
  }
}

@media (max-width: 980px) {
  .infoImage {
    margin: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

/* INVERTED INFOSTACK */

.invertedInfoContainer {
  background: linear-gradient(to right, #644fd5, #6aabe2, #c865d4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.infoTextRight {
  margin-top: 10%;
  padding: 2rem;
  margin-right: 9rem;
}

.invertedInfoContainer {
  margin-bottom: 2rem;
}

@media (max-width: 1380px) {
  .infoTextRight {
    margin: 5rem 5rem 0 1rem;
    padding: 1rem;
  }

  .invertedInfoContainer {
    margin-bottom: 2rem;
  }
}
.fade-in-right {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in-right.show {
  opacity: 1;
  transform: translateY(0);
}

.invertedInfoImage {
  width: 50%;
  height: auto;
  margin-top: -15.5%;
  margin-right: 40%;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s ease, transform 3s ease;
}

.invertedInfoImage.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 980px) {
  .invertedInfoContainer {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
  }

  #infoTitle {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 1200px) {
  .infoTextRight {
    margin: 2rem 0 0 1rem;
    padding: 1rem;
  }
}

@media (max-width: 980px) {
  .invertedInfoImage {
    margin: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1921px) {
  .invertedInfoContainer {
    background: linear-gradient(to right, #644fd5, #6aabe2, #c865d4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .invertedInfoImage {
    width: 50%;
    height: auto;
    margin-top: -15.5%;
    margin-right: 40%;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 2s ease, transform 3s ease;
  }

  .infoTextRight {
    margin-top: 10%;
    padding: 2rem;
    margin-right: 18rem;
  }

  .infoTextLeft {
    margin-top: 10%;
    padding: 2rem;
    margin-left: 18rem;
  }
}

/* DASHBOARD CSS */

.fc-header-toolbar {
  margin-top: 2rem;
}

/* WORKOUT TRACKING CSS */
.editModalInput {
  display: flex;
  flex-direction: column;
}

.exerciseCard {
  margin-left: 12rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

/* NEED TO MODIFY FOR MOBILE  */
.exerciseInputFieldContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.exerciseInputFieldContainer input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.exerciseInputFieldContainer input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Exercise Cards */
.exerciseCard {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.exerciseCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Add Set Button */
.addSetButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addSetButton:hover {
  background-color: #45a049;
}
