.accountIcon {
  margin-right: 9rem;
}
@media (max-width: 1100px) {
  .accountIcon {
    margin-right: auto;
    margin-left: 0;
  }
}

.greetingContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 800px) {
  .greetingContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .greeting {
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}

.bgImg1 {
  background-image: url("./assets/Images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  border-bottom: 5px solid white;
}

.bgImg2 {
  background-image: url("./assets/Images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid white;
}

@media (min-width: 1921px) {
  .smartphonecss {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 600px;
    width: 100%;
    height: auto;
  }
}

.divider {
  background: linear-gradient(to bottom, #644fd5, #6aabe2, #c865d4);
  opacity: 0.85;
  padding: 1rem;
  border-bottom: 5px solid white;
}

.dividerText {
  text-align: left;
  padding: 2rem;
  margin-left: 12rem;
  margin-right: 12rem;
  color: white;
}

@media (max-width: 1200px) {
  .dividerText {
    text-align: left;
    padding: 2rem;
    margin-left: 0;
    margin-right: 0;
    color: white;
  }
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
}

@media (max-width: 980) {
  .dividerText {
    color: #0372f0;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.5rem;
  }
}

.infoTextLeft {
  margin-top: 10%;
  padding: 2rem;
  margin-left: 12rem;
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 5%;
}

@media (max-width: 1380px) {
  .infoTextLeft {
    margin: 5rem 0 0 7rem;
    padding: 1rem;
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in-left.show {
  opacity: 1;
  transform: translateY(0);
}

.infoImage {
  width: 55%;
  height: auto;
  margin-top: -18.5%;
  margin-left: 40%;
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 3s ease;
}

.infoImage.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 980px) {
  .infoContainer {
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -10%;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0rem;
  }
}

@media (max-width: 1200px) {
  .infoTextLeft {
    margin: 5rem 0 0 1rem;
    padding: 1rem;
  }
}

@media (max-width: 980px) {
  .infoImage {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
  }
}

/* INVERTED INFOSTACK */

.invertedInfoContainer {
  /* background: linear-gradient(to right, #644fd5, #6aabe2, #c865d4); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.infoTextRight {
  margin-top: 10%;
  padding: 2rem;
  margin-right: 9rem;
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 5%;
}

.invertedInfoContainer {
  margin-bottom: 2rem;
}

@media (max-width: 1380px) {
  .infoTextRight {
    margin: 5rem 5rem 0 1rem;
    padding: 1rem;
  }

  .invertedInfoContainer {
    margin-bottom: 2rem;
  }
}
.fade-in-right {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in-right.show {
  opacity: 1;
  transform: translateY(0);
}

.invertedInfoImage {
  width: 50%;
  height: auto;
  margin-top: -15.5%;
  margin-right: 40%;
  margin-bottom: 2%;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 2s ease, transform 3s ease;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.invertedInfoImage.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 980px) {
  .invertedInfoImage {
    margin: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1921px) {
  .infoContainer {
    margin-top: 5rem;
  }

  .invertedInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .invertedInfoImage {
    width: 50%;
    height: auto;
    margin-top: -15.5%;
    margin-right: 40%;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 2s ease, transform 3s ease;
  }

  .infoTextRight {
    margin-top: 10%;
    padding: 2rem;
    margin-right: 18rem;
    backdrop-filter: blur(2px);
  }

  .infoTextLeft {
    margin-top: 10%;
    padding: 2rem;
    margin-left: 18rem;
    backdrop-filter: blur(2px);
  }
}

/* DASHBOARD CSS */

.fc-header-toolbar {
  margin-top: 2rem;
}

/* WORKOUT TRACKING CSS */
.editModalInput {
  display: flex;
  flex-direction: column;
}

.exerciseCard {
  margin-left: 12rem;
  margin-right: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* NEED TO MODIFY FOR MOBILE  */
.exerciseInputFieldContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  position: sticky;
  top: 0.25rem;
  z-index: 1;
  background-color: #f5f5f5;
  opacity: 0.8;
}

/* Exercise Cards */
.exerciseCard {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 0.25rem;
}

.exerciseCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workoutTitle {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #0372f0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.workoutSet {
  margin-right: 1rem;
  margin-right: 2rem;
}

.setData {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.setLabel {
  font-weight: bold;
  margin-right: 0.25rem;
}

/* Add Set Button */
.addSetButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addSetButton:hover {
  background-color: #45a049;
}

#viewNotesButton {
  display: flex;
  margin-left: auto;
  margin-right: 12rem;
}

.MuiDrawer-paper {
  width: 50%;
  padding: 1rem;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.calendar {
  margin-bottom: 2rem;
  background-color: #f5f5f5;
}

#navbar {
  opacity: 0.95;
  background: linear-gradient(to right, #644fd5, #6aabe2, #c865d4);
  border-bottom: solid 5px white;
}

.footer {
  background: linear-gradient(to left, #644fd5, #6aabe2, #c865d4);
}

.googleIcon {
  font-size: 2rem;
}

@media (max-width: 980px) {
  .invertedInfoContainer {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.5rem;
  }

  #infoTitle {
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  #infoSubtitle {
    font-size: 1rem;
  }

  * {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .infoTextRight {
    margin: 2rem 0 0 1rem;
    padding: 1rem;
  }

  .footer {
    height: 0.25rem;
  }

  .exerciseCard {
    margin: 0.5rem;
  }

  #viewNotesButton {
    margin-left: auto;
    margin-right: 0.5rem;
  }

  .exerciseInputFieldContainer {
    gap: 0;
  }

  #exerciseNameInput {
    width: 20.75rem;
  }

  #logoutButton {
    font-size: 0.75rem;
    padding: 0.25rem;
  }
}

@media (max-width: 950px) {
  .event-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .event-wrapper .MuiTypography-root {
    white-space: normal;
    word-break: break-word;
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .event-container .MuiButtonBase-root {
    display: block;
    margin-top: 8px;
  }
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.exercise-card img {
  height: 330px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.05, 1.05);
}

.detail-image {
  width: 700px;
  height: 742px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .exercise-video {
    width: 320px !important;
    height: 300px !important;
  }
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 380px;
  height: 380px;
  text-decoration: none;
}

.right-arrow,
.left-arrow {
  padding: 1rem;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.css-11tnvr3 {
  overflow-x: auto;
  width: 98vw;
}
